{% extends 'base.html' %}

{% block content %}
<h1>Barnehager</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Navn</th>
        <th>Antall plasser</th>
        <th>Antall ledige plasser</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Sunshine Preschool</td>
        <td>50</td>
        <td>15</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Happy Days Nursery</td>
        <td>25</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>123 Learning Center</td>
        <td>35</td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td>ABC Kindergarten</td>
        <td>12</td>
        <td>0</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Tiny Tots Academy</td>
        <td>15</td>
        <td>5</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Giggles and Grins Childcare</td>
        <td>10</td>
        <td>0</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Playful Pals Daycare</td>
        <td>40</td>
        <td>6</td>
    </tr>
</table>
{% endblock %}
